In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

# Function to generate random dates
def generate_random_dates(start_date, end_date, n):
    start = datetime.strptime(start_date, '%Y-%m-%d')
    end = datetime.strptime(end_date, '%Y-%m-%d')
    date_list = [start + timedelta(days=random.randint(0, (end - start).days)) for _ in range(n)]
    return date_list

# Function to generate random transactions
def generate_random_transactions(n):
    descriptions = ['Food', 'Bus', 'Train', 'Mall', 'Grocery', 'Rent', 'Salary', 'Bank interest', 'Electricity', 'Internet', 'Gym']
    transactions = []
    for _ in range(n):
        date = random.choice(dates)
        description = random.choice(descriptions)
        amount = round(random.uniform(10, 500), 2)
        # transaction_type = random.choice(['CR', 'DR'])
        if description in ['Salary', 'Bank interest']:
            transaction_type = 'CR'
        else:
            transaction_type = 'DR'
        transactions.append([date, description, amount, transaction_type])
    return transactions

# Generate random data
num_entries = 100
dates = generate_random_dates('2022-06-01', '2023-06-01', num_entries)
transactions = generate_random_transactions(num_entries)

# Create a DataFrame
df = pd.DataFrame(transactions, columns=['Date', 'Description', 'Amount', 'Type'])

# Sort by date
df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values(by='Date').reset_index(drop=True)

df.head()

        Date    Description  Amount Type
0 2022-06-03    Electricity   70.28   DR
1 2022-06-03            Gym  219.13   DR
2 2022-06-06            Bus  334.41   DR
3 2022-06-14    Electricity  212.68   DR
4 2022-06-14  Bank interest  304.41   CR

In [2]:
# to check rows created
df.count()

Date           100
Description    100
Amount         100
Type           100
dtype: int64

In [3]:
# to create csv format of data
df.to_csv('Bank_Statement.csv', index=False)

In [4]:
# to make pdf of dummy statement
from fpdf import FPDF

# Create the updated DataFrame as per the user's code
# Generate random data
num_entries = 100
dates = generate_random_dates('2022-06-01', '2023-06-01', num_entries)
transactions = generate_random_transactions(num_entries)

# Create a DataFrame
df = pd.DataFrame(transactions, columns=['Date', 'Description', 'Amount', 'Type'])

# Sort by date
df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values(by='Date').reset_index(drop=True)

# Function to generate PDF
class PDF(FPDF):
    def header(self):
        self.set_font('Arial', 'B', 12)
        self.cell(0, 10, 'Bank Statement', 0, 1, 'C')

    def footer(self):
        self.set_y(-15)
        self.set_font('Arial', 'I', 8)
        self.cell(0, 10, f'Page {self.page_no()}', 0, 0, 'C')

    def table(self, data):
        self.set_font('Arial', 'B', 10)
        col_width = self.w / 4  # distribute content evenly
        th = self.font_size
        
        # Table header
        self.cell(col_width, th, 'Date', border=1)
        self.cell(col_width, th, 'Description', border=1)
        self.cell(col_width, th, 'Amount', border=1)
        self.cell(col_width, th, 'Type', border=1)
        self.ln(th)
        
        # Table body
        self.set_font('Arial', '', 10)
        for row in data.itertuples():
            self.cell(col_width, th, str(row.Date.date()), border=1)
            self.cell(col_width, th, row.Description, border=1)
            self.cell(col_width, th, f'{row.Amount:.2f}', border=1)
            self.cell(col_width, th, row.Type, border=1)
            self.ln(th)

# Create PDF
pdf = PDF()
pdf.add_page()
pdf.table(df)

# Save the PDF to a file
output_path = "Bank_Statement.pdf"
pdf.output(output_path)

output_path

'Bank_Statement.pdf'